{% extends 'base.html.twig' %}

{% block title %}À propos de {{ nom_entreprise }}{% endblock %}

{% block body %}

<div class="clearfix">
    <img src="{{ asset('build/img/apropos-1.jpg') }}" width="600" height="500" class="col-md-6 float-md-end mb-3 ms-md-3 img_hero" alt="...">

    <h1>À propos de {{ nom_entreprise }}</h1>

    <p>
        Zen & Aroma est né d'une passion commune pour les bienfaits des plantes et des huiles essentielles. L'idée a germé lors d'un voyage inspirant au cœur de la Provence, où nous avons découvert des artisans locaux qui travaillaient avec amour et respect des traditions. Nous avons été émerveillés par la puissance des 
        ingrédients naturels et avons décidé de créer une marque qui mettrait en valeur ces trésors.
        <br>Chaque produit Zen & Aroma est le fruit d'une sélection rigoureuse des matières premières, privilégiant les producteurs locaux et les ingrédients biologiques. Nous croyons en la transparence et nous nous engageons à vous offrir des produits de qualité, respectueux de votre santé et de l'environnement.
    </p>
</div>

                <h2>Nos engagements</h2>
        <section class="container mt-5">
            <h2 class="text-center text titre">Pourquoi choisir Zen & Aroma ?</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-center mb-3 card_propos">
                        <div class="card-body">
                            <h3 class="card-title">Flexibilité</h3>
                            <p class="card-text">Une solution adaptée à chaque besoin, qu’il soit ponctuel ou régulier. </p>
                            <img class="img_why" src="{{ asset('build/img/flexibility.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center mb-3 card_propos">
                        <div class="card-body">
                            <h3 class="card-title">Transparence</h3>
                            <p class="card-text">Des tarifs clairs et compétitifs et attractifs, sans frais cachés.</p>
                            <img class="img_why" src="{{ asset('build/img/transparency.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center mb-3 card_propos">
                        <div class="card-body">
                            <h3 class="card-title">Innovation</h3>
                            <p class="card-text">Un service à la pointe de la technologie pour simplifier votre expérience.</p>
                            <img class="img_why" src="{{ asset('build/img/innovation.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center mb-3 card_propos">
                        <div class="card-body">
                            <h3 class="card-title">Engagement local</h3>
                            <p class="card-text">Une entreprise ancrée en Guadeloupe, avec une parfaite connaissance du territoire.</p>
                            <img class="img_why" src="{{ asset('build/img/localengagement.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
