{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
    {% block hero %}
                <div class="container text-center">
                    <div class="row align-items-center">
                <div class="col">
                    <h1>Diffuseurs d'huiles essentielles pour un bien-etre au naturelle</h1>
                </div>
                <div class="col">
                    <img class='img_hero' "img-fluid" src="{{ asset('build/img/Hero.jpg') }}" width="700" height="500" alt="Description de l'image">
                </div>
            </div>
            </div>
    {% endblock %}

    {% block subHero %}
    <h1 class="h1"> Nos produits les plus vendus </h1>
    <div class="container text-center">
    <div class="subHero">
    <div class="tof"><img class="img-fluid" src="{{ asset ('build/img/produits-1.jpg') }}" width="300" height="300">
                    <div class="sousTitre1">
                        <p>Crème Hydratante</p>
                    </div>
                    <div class="prix1">
                        <h1>14,50$</h1>
                    </div>
                    {# <button class="bouton001">Je découvre</button> #}
                    </div>

    <div class="tof"><img class="img-fluid" src="{{ asset ('build/img/produits-2.jpg') }}" width="300" height="300">
                    <div class="sousTitre1">
                        <p>Bougies Parfumées</p>
                    </div>
                    <div class="prix1">
                        <h1>8,90$</h1>
                    </div>
                    {# <button class="bouton001">Je découvre</button> #}
                    </div>

    <div class="tof"><img class="img-fluid" src="{{ asset ('build/img/produits-3.jpg') }}" width="300" height="300">
                    <div class="sousTitre1">
                        <p>Savon 1</p>
                    </div>
                    <div class="prix1">
                        <h1>6,20$</h1>
                    </div>
                    {# <button class="bouton001">Je découvre</button> #}
                    </div>

    <div class="tof"><img class="img-fluid" src="{{ asset ('build/img/produits-4.jpg') }}" width="300" height="300">
                    <div class="sousTitre1">
                        <p>Savon 2</p>
                    </div>
                    <div class="prix1">
                        <h1>3$</h1>
                    </div>
                    {# <button class="bouton001">Je découvre</button> #}
                    </div>
</div>
<button class="bouton001">Je découvre</button>
    {% endblock %}
{% endblock %}

{# {% block body %} #}
{# <style> #}
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
{# </style> #}


{# <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
                <h1>Diffuseurs d'huiles essentielles pour un bien-etre au naturelle</h1>
            </div>
            <div class="col">
                <img class='img_hero' src="{{ asset('build/img/Hero.jpg') }}" width="700" height="500" alt="Description de l'image">
            </div>
        </div>
    </div> #}
{# {% endblock %} #}


