{{ form_start(form) }}

<div class="row">
    <div class="col"{{ form_row(form.Prenom) }}
    <div class="col"{{ form_row(form.Nom) }}
</div>

    {# {{ form_widget(form) }} #}
{{ form_row(form.Telephone) }}
{{ form_row(form.Email) }}
{{ form_row(form.Sujet) }}
{{ form_row(form.Message) }}
    <div class="text-center">
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
