{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {# {{ include('contact/_form.html.twig') }} #}

    {{ form(form, {'method': 'GET'}) }}

    {{ form_row(form.Nom) }}

    {{ form_row(form.Prenom) }}

    {{ form_row(form.Telephone) }}

    {{ form_row(form.Email) }}

    {{ form_row(form.Sujet) }}

    {{ form_row(form.Message) }}

    {{ form_end(form) }}

    <a href="{{ path('app_contact_index') }}">back to list</a>
{% endblock %}
